
.navbar img{	
	float: right;
	border-radius: 20px 20px 20px 20px;
	transform: translateY(-8px);
	margin: 10px;


}

#r-icon{
	transform: translateY(-15px);

}

.navbar .apps-icon {
	background: "apps-icon-black.jpg";
	border-radius: 0px;

}

.bell-icon{

	padding: 4px;
	background-color: #848489;


}

.bell-icon:hover{
	background-color: #313133;
}

.navbar {
	direction: rtl;	
	margin-top: 20px;
	margin-right: 20px;


}


.navbar span:hover {
	text-decoration: underline;
}

.navbar span{
	font-size:15px; 
	margin: 10px;

}

.center-items input[type="text"]{
	width:500px;
	height: 25px;
	margin: 0 auto;
	display: block;


}

.center-items img {
    display: block;
    margin: 0 auto;
    margin-top: 175px;
    margin-bottom: 10px;
}



